body {
    background-color: orange;
}

.head {
    color: darkblue;
}

#bglime {
    background-color: lime;
}

#bglime.head {
    color: red;
}

p {
    color: white;
}

#para {
    color: green;
    font-size: 1.2em;
}

.here {
    font-weight: bold;
    text-decoration: underline;
}

.here ul {
    color: yellow;
    background-color: aqua;
}
